.header {
  position: fixed;
  width: 100%;
  padding: 15px 20px;
  z-index: 10;
}

.nav {
  position: fixed;
  min-width: 210px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #091227;
  font-size: 20px;
  line-height: 1.2;
  transform: translateX(-100%);
  transition: 0.4s all linear;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 0 20px 20px;
  gap: 32px;
}

.nav-link {
  display: flex;
  gap: 30px;
}

.open .nav {
  transform: translateX(0);
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.header-burger {
  position: relative;
  z-index: 15;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 9px;
  cursor: pointer;
}

.header-burger:hover .burger-line {
  background-color: #8996b8;
  opacity: 0.6;
}

.burger-line {
  display: block;
  width: 24px;
  height: 3px;
  background-color: #eaf0ff;
  transition: ease-in-out 0.3s;
}

.open .header-burger .burger-line {
  display: block;
  position: absolute;
  top: 50%;
}

.open .burger-line:first-child {
  transform: translateY(-50%) rotate(45deg);
}

.open .burger-line:last-child {
  transform: translateY(-50%) rotate(-45deg);
}
