.audio-player {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: center;
  gap: 35px;
}